# Environment properties
# Example:
# SAMPLE_PLUGIN_API_URL=https://timeapi.io/api/time/current/zone?timeZone=Europe/Amsterdam

VALTIMO_CONNECTORENCRYPTION_SECRET=valtimo-connector-encryption-default-secret
VALTIMO_PLUGIN_ENCRYPTIONSECRET=abcdefghijklmnop
